:root {
  /* Colors */
  --main: #333333;
  --main-light: #bdbdbd;
  --main-light-extra: #e2e2e2;
  --base: #ffffff;
  --base-dark: #f8f8f8;
  --base-alt-warm: #f3ebe1;
  --base-alt-cold: #eae6fc;
  --base-alt-neutral: #e5e6e8;
  --accent: #7859cf;
  --accent-dark: #593cac;
  --accent-light: #9070ec;
  --accent-light-extra: #f0ebff;
  --accent-opacity: rgba(120, 89, 207, 0.25);
}
